.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

/* Can use built in bootstrap class ".caption" too (same thing) */
.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}